<!DOCTYPE html>
<html lang="{{default resume.meta.language 'en'}}">
  <head>
    <title>{{resume.basics.name}}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js"></script>

    <style>
      {{{style}}}
    </style>
  </head>
  <body>
    <article class="resume-wrapper text-center position-relative">
      <div id="resume" class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
        {{> header}}
        <div class="resume-body p-5">
          {{> summary}}
          <div class="row">
            <div class="col-lg-9">
              {{> work}}
            </div>
            <div class="col-lg-3">
              {{> skills}}
              {{> education}}
              {{> awards}}
              {{> languages}}
              {{> interests}}
            </div>
          </div>
        </div>
      </div>
    </article>
    {{> footer}}
  </body>
</html>
