{{#if resume.interests}}
{{#if anyItemBelow}}
<section class="resume-section interests-section mb-5">
{{else}}
<section class="resume-section interests-section">
{{/if}}
  <h2 class="resume-section-title text-uppercase fw-bold pb-3 mb-3">{{i18n "interests"}}</h2>
  <div class="resume-section-content">
    {{#each resume.interests}}
    <div class="resume-section fw-bold">{{this.name}}</div>
      <ul class="list-unstyled">
      {{#each this.keywords}}
        <li class="mb-1">{{this}}</li>
      {{/each}}
      </ul>
    {{/each}}
  </div>
</section>
{{/if}}
