{{#if resume.languages}}
{{#if anyItemBelow}}
<section class="resume-section language-section mb-5">
{{else}}
<section class="resume-section language-section">
{{/if}}
  <h2 class="resume-section-title text-uppercase fw-bold pb-3 mb-3">{{i18n "languages"}}</h2>
  <div class="resume-section-content">
    <ul class="list-unstyled resume-lang-list">
      {{#each resume.languages}}
      <li class="mb-2">
        <span class="resume-lang-name fw-bold">{{this.language}}</span>
        <small class="text-muted fw-normal">({{this.fluency}})</small>
      </li>
      {{/each}}
    </ul>
  </div>
</section>
{{/if}}
